.benefits-page {
  background-color: var(--background-color);
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-list-icon {
  fill: var(--accent-color);
}
.benefits-subtitle {
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 0.01em;
  font-weight: 600;
  margin-bottom: 18px;
}
.benefits-text {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 767px) {
  .benefits-list-item:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-page {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1167px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 88px;
  }
  .benefits-list-item {
    flex-basis: calc((100% - 88px) / 2);
  }
}

@media screen and (min-width: 1168px) {
  .benefits-page {
    margin-bottom: 60px;
  }
  .benefits-page-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .benefits-list {
    display: flex;
    gap: 88px;
  }
  .benefits-list-item {
    position: relative;
    flex-basis: calc((100% - 2 * 88px) / 3);
  }
  .benefits-list-item:not(:last-child)::after {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% / 2);
    background-color: rgba(255, 255, 255, 0.5);
    top: 60px;
    right: -44px;
  }
}

/* .benefits-page {
  background-color: var(--background-color);
  margin-top: 80px;
  margin-bottom: 60px;
}
.benefits-page-container {
  padding: 50px 32px;
}

.benefits-list {
  display: flex;
  column-gap: 88px;
}
.benefits-list-item {
  flex-basis: calc((100% - 2 * 88px) / 3);
  position: relative;
}
.benefits-list-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: calc(100% / 2);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 60px;
  right: -44px;
}
.benefits-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-list-icon {
  fill: var(--title-word-color);
}
.benefits-subtitle {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.benefits-text {
  color: rgba(255, 255, 255, 0.7);
} */
