@media screen and (max-width: 767px) {
  .review-list-card:nth-child(n + 2) {
    display: none;
  }
}
@media screen and (max-width: 1167px) {
  .review-list-card:nth-child(3) {
    display: none;
  }
}
.review-page-title {
  margin-bottom: 74px;
}
.review-list {
  margin-bottom: 32px;
}
.review-list-card {
  position: relative;
  padding: 56px 18px 42px 18px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
}
.review-card-img-container {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.review-card-name {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.review-card-text {
  color: var(--extra-text-color);
  text-align: center;
}
.leave-review-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 165px;
  height: 41px;

  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background-color: transparent;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
.leave-review-button:hover,
.leave-review-button:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .review-page-title {
    margin-bottom: 90px;
  }
  .review-list {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
  }

  .review-list-card {
    flex-basis: calc((100% - 16px) / 2);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 26px;
  }
  .leave-review-button {
    min-width: 222px;
    height: 50px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1168px) {
  .review-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
  }
  .review-list-card {
    flex-basis: calc((100% - 2 * 28px) / 3);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}
