html {
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
}
button {
  cursor: pointer;
  padding: 0;
}

input,
textarea {
  outline: transparent;
}

.section-title {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style-type: none;
}
.accent-color {
  color: var(--accent-color);
}
